<MudThemeProvider Theme="@_defaultTheme"  />
<MudDialogProvider />
<MudSnackbarProvider />

<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {

    protected override void OnInitialized()
    {
        _currentTheme = _defaultTheme;
    }

    private MudTheme _currentTheme = new MudTheme();
    private readonly MudTheme _defaultTheme =
        new MudTheme()
        {
            Palette = new Palette()
            {
                Black = "#272c34",
                //Surface = "#FBE6a6",
                //Primary = "#f4976c",
            }
        };
} 
